{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">Bienvenido, {{ request.user.username }}</h1>



            <p class="card-text fs-5 text-center">
                Resumen de asistencias del día: <span class="fw-bold" id="asistencias-hoy-count">0</span>
            </p>

            <div class="table-responsive mt-4">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Hora</th>
                            <th>Estación</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-asistencias-body">
                        <tr>
                            <td colspan="4" class="text-center text-muted">Cargando asistencias...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script src="{% static 'js/frontend/components/filtro.js' %}"></script>
{% endblock %}
