{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Biométrico App{% endblock %}</title>

    <!-- Bloque para estilos CSS propios de cada template -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    {% block extra_css %}{% endblock %}

</head>
<body>
<header>
    <nav>
        <div class="navbar-container">
            <div class="logo-container">
                <img src="{% static 'img/unnamed.jpg' %}" alt="Logo">
                <h1>Entreredes Access</h1>
            </div>
            <ul class="navbar-links">
                <li><a href="{% url 'home_biometrico' %}">Inicio</a></li>
                <li><a href="{% url 'historial_asistencia' %}">Historial</a></li>
                <li><a href="{% url 'usuarios-list' %}">Usuarios</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Cerrar sesión ({{ user.username }})</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>



    <main>
        {% block content %}
        <!-- Contenido principal -->
        {% endblock %}
    </main>

    <!-- Bloque para scripts JS -->
    {% block extra_js %}{% endblock %}
</body>
</html>
